@use "../../utils/variables" as *;
@use "sass:color";

.page-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: $espace-3xl $espace-md;
  background: linear-gradient(
    180deg,
    color.adjust($couleur-secondaire, $lightness: 5%),
    color.adjust($couleur-secondaire, $lightness: -5%)
  );
  color: $couleur-texte;
}

.carte-auth {
  background-color: $couleur-carte;
  padding: $espace-2xl;
  border-radius: $rayon-lg;
  box-shadow: $ombre;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.titre-page {
  font-family: $font-titre;
  margin-bottom: $espace-lg;
  color: $couleur-primaire;
}

.formulaire-auth {
  display: flex;
  flex-direction: column;
  gap: $espace-md;
  margin-bottom: $espace-md;

  .bloc-champ {
    display: flex;
    flex-direction: column;
    gap: $espace-xs;
  }

  .label-texte {
    text-align: left;
    color: rgba($couleur-texte, 0.8);
  }

  .champ {
    padding: $espace-sm;
    border-radius: $rayon-md;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);

    color: $couleur-texte;

    &:focus {
      outline: 1px solid $couleur-primaire;
    }
  }

  /* === Champ mot de passe + icône === */
  .champ-mdp-container {
    position: relative;

    .icone-mdp {
      position: absolute;
      right: 0.8rem;
      top: 2.45rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;


      svg {
        width: 22px;
        height: 22px;
        stroke: $couleur-texte;

      }
    }
  }

  .aide {
    display: block;
    margin-top: $espace-2xs;
    color: rgba($couleur-texte, 0.7);
    font-size: 0.9rem;
  }

  /* Politique confidentialité */
  .bloc-choix {
    display: flex;
    align-items: center;
    gap: $espace-xs;

    .case {
      width: 1rem;
      height: 1rem;
    }

    .texte-choix {
      text-align: left;
      font-size: 0.78rem;
      line-height: 1;
    }
  }

  /* Bouton principal */
  .bouton {
    background-color: $couleur-primaire;
    color: $couleur-texte;
    border: none;
    border-radius: $rayon-md;
    padding: $espace-sm;
    cursor: pointer;
    transition: background-color $transition;

    &:hover {
      background-color: color.adjust($couleur-primaire, $lightness: -10%);
    }
  }
}

/* iPhone SE */
@media (max-width: 380px) {
  .champ-mdp-container .icone-mdp svg {
    width: 19px;
    height: 19px;
  }

  /* Passage du texte sur 2 lignes */
  .lien-alternatif p {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    text-align: center;
  }
}

.lien-alternatif {
  font-size: $font-size-base;

  a {
    color: $couleur-primaire;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


.message-erreur {
  color: #ff7b7b;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: $rayon-md;
  padding: $espace-sm;
  margin-bottom: $espace-md;
}

/* Permet icône svg blanche uniquement sur la page INSCRIPTION */
.page-auth.page-auth-inscription .champ-mdp-container .icone-mdp svg {
  stroke: $couleur-texte !important; // ici !important permet que le blanc prenne le dessus
}
