RewriteEngine On
RewriteBase /
# Si le fichier/dossier existe, on le sert tel quel
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon, tout passe par index.php (front controller)
RewriteRule ^ index.php [QSA,L]
