@use "../../utils/variables" as *;

.page-compte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  color: #fff;
  text-align: center;
}

.contenu-compte {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.liste-favoris {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center; /* ✔ centrage iPhone SE */
}
