@use "../utils/variables" as *;

.nav-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $couleur-secondaire;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  z-index: 200;
  display: none; /* ✔ masqué par défaut (desktop) */
}

.nav-mobile-liste {
  list-style: none;
  margin: 0;
  padding: 0.6rem 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-mobile-lien {
  color: $couleur-texte-clair;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.nav-mobile-texte {
  font-size: 0.75rem;
  font-family: $font-principale;
}

.nav-mobile-lien.actif {
  color: $couleur-primaire;
}

/* MOBILE ONLY */
@media (max-width: 480px) {
  .nav-mobile {
    display: block;
  }

  /* On masque le menu du header sur mobile */
  .menu-principal {
    display: none;
  }
}
